<div id="layoutSidenav_nav">
    <nav class="sb-sidenav sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" routerLink="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Inicio
                </a>
                <div class="sb-sidenav-menu-heading">Herramientas</div>
                <a class="nav-link" routerLink="/hosts">
                    <div class="sb-nav-link-icon "><i class="bi bi-pc"></i></div>
                    Hosts 
                </a>
                <a class="nav-link" routerLink="/users">
                    <div class="sb-nav-link-icon"><i class="bi bi-people-fill"></i></div>
                    Usuarios 
                </a>
                <div class="sb-sidenav-menu-heading">Gestion</div>
                <a class="nav-link" routerLink="/hosts/Gestion">
                    <div class="sb-nav-link-icon"><i class="bi bi-pc"></i></div>
                    Hosts
                </a>
                <a class="nav-link" routerLink="/users/Gestion">
                    <div class="sb-nav-link-icon"><i class="bi bi-people-fill"></i></div>
                    Usuarios
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>