<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            
                            <img class="ms-3 mb-4 img-error" src="assets/images/error-404-monochrome.svg" />
                            <h1 class="h1">La URL solicitada no existe</h1>
                            <a routerLink="/main" class="link-success h4">
                                <i class="bi bi-arrow-left-circle"></i>
                                Volver atras
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <app-footer></app-footer>
</div>